@import 'tailwindcss';
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer base {
  h1 {
    @apply font-bold text-3xl;
  }
  a {
    @apply underline font-bold;
  }
}

.debug-border {
  border: 2px solid limegreen;
  padding: 4px;
  border-radius: 6px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  max-height: 70vh;
  overflow: hidden;
}

.landscape-mode img {
  max-width: 90vw;
  max-height: 70vh;
}

.portrait-mode {
  transform: rotate(90deg);
}

.portrait-mode img {
  /* Swapped dimensions for portrait mode */
  max-width: 70vh;
  max-height: 90vw;
}
