# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
.env.local

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# test
/public/uploads/

# Editor
.vscode
public/_Drives


demo
.qodo
public/Volumes

public/test/*/*_mask.png
public/test/*
public/test/*/*_mask.gz
public/test/1/apero2023_pp_wp2_001_st01_d_d1_1_567_mask.gz

# SPA
/dist/
