
/* .portrait-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    transform: rotate(90deg);
    transform-origin: center;
  }
  
  .landscape-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
  } */

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    max-height: 70vh;
    overflow: hidden;
  }

   
  .landscape-mode img {
    max-width: 90vw;
    max-height: 70vh;
  }
  
  .portrait-mode {
    transform: rotate(90deg);
  }

  .portrait-mode img {
    /* Swapped dimensions for portrait mode */
    max-width: 70vh;
    max-height: 90vw; 
  }
 